.screen {
  width: 100%;
  height: 100%;
  viewport-fill: fb-black;
}

.container {
  width: 100%;
  height: 100%;
  font-size: 28;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.header {
  width: 100%;
  height: 10%;
  x: 0;
  y: 0;
  fill: fb-dark-gray;
}

.header-text {
  font-weight: bold;
  text-length: 8;
  fill: fb-white;
  text-anchor: middle;
  x: 50%;
}

.header-score-first {
  font-weight: bold;
  text-length: 8;
  text-anchor: start;
  x: 20%;
}

.header-score {
  font-weight: bold;
  text-length: 8;
  fill: fb-white;
  text-anchor: start;
  x: $+20;
}

.column {
  width: 50%;
  height: 100%;
  x: $;
  y: 0;
}

.main {
  width: 100%;
  height: 75%;
  x: 0;
  y: $;
}

.score-button {
  width: 100%;
  height: 100%;
  pointer-events: "visible";
}

.score-text {
  font-size: 120;
  font-family: Tungsten-Medium;
  font-weight: bold;
  text-anchor: middle;
  text-length: 3;
  x: 50%;
}

.split-line {
  x1: $;
  y1: 0%;
  x2: $+1;
  y2: 100%;
  fill: fb-white;
  stroke-width: 3;
}

.green {
  fill: fb-mint;
}

.yellow {
  fill: fb-peach;
}

.footer {
  width: 100%;
  height: 15%;
  x: 0;
  y: $;
}

#undo-button {
  font-size: 40;
  font-family: System-Bold;
  text-anchor: start;
  text-length: 5;
}

#simple-modal {
  display: none;
  viewport-fill: fb-black;
}

#simple-modal-button {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  pointer-events: "visible";
}

#simple-modal-text {
  font-size: 70;
  font-family: Tungsten-Medium;
  font-weight: bold;
  text-anchor: middle;
  text-length: 20;
  x: 50%;
  fill: fb-slate;
}
